/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  /* -webkit-font-smoothing: antialiased; */
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  /* font: inherit; */
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

.container {
  height: 100%;
  position: relative;
  /* background-color: darkcyan; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
    width: 100%;
    /* height: 50px; */
    background-color: rgba(93, 96, 101, 0.6);
    border-radius: 8px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(93, 96, 101, 1);
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  width: 40px;
  height: 40px;
  background-color: #9999;
  border-radius: 100%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}